* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

header {
    width: 100%;
    height: 40px;
    display: inline-flex;
    margin: 0;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

.header {
    font-size: 25px;
}

.button {
    margin: 10px;
    padding: 20px 5%;
    background-color: purple;
    border: 2px solid black;
    border-radius: 2rem;
    color: antiquewhite;
}

.button:hover {
    margin: 10px;
    padding: 20px 5%;
    box-shadow: 0 0 5px black;
    border: 2px solid black;
    border-radius: 2rem;
    color: antiquewhite;
    cursor: pointer;
}

#viewLeaderboard {
    margin: 10px;
}

#time {
    margin: 10px;
}

#mainPrompt {
    font-size: 30px;
}
